body {
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    font-family: 'Segoe UI', Arial, sans-serif;
    color: #333;
    -webkit-font-smoothing: antialiased;
    position: relative;
    /* For pseudo-element */
}

#root {
    min-height: 100vh;
}